<!DOCTYPE html>
<html class="h-100" lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Done</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&family=M+PLUS+1p:wght@300;400;500;700&family=Nunito+Sans:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,500;1,600&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Tajawal:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body class="d-flex flex-column h-100">

    <nav class="flex-shrink-0 navbar navbar-expand-sm p-0" aria-label="Navbar main">
        <div class="shadow nav-group container-fluid justify-content-between align-self-end p-3 m-3 rounded-3">
            <a class="nav-item navbar-brand col d-flex align-items-center m-0" href="#">
                <span id="brand-img" class="m-1 pb-2" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                    </svg>
                </span>
                <span id="app-title" class="m-1">To-Done</span></a>
            <div class="nav-item col-8 d-flex justify-content-center">
                <div class="nav-item dropdown w-75">
                    <div class="btn-group opacity-100 h-100 w-100">

                        <button class="btn btn-lg h-100 w-100 d-flex justify-content-center align-items-center border-0"><%= listView %></button>

                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    
                        <form action="/select-view" method="POST" class="project-list dropdown-menu dropdown-menu-end w-100 shadow border-0">
                        <% projectList.forEach(project => { %>
                                <input class="dropdown-item m-0 p-0" type="submit" id="<%= project.name %>View" name="projectList" value="<%= project.name %>">
                        <% }); %>
                        </form>
                    </div>
                
                </div>
            </div>

            <div class="nav-item col d-flex align-items-center justify-content-end">
            <button class="add-task-btn btn btn-primary rounded-pill d-flex align-items-center justify-content-center p-0" type="button" data-bs-toggle="modal" data-bs-target="#addTaskModal" aria-labelledby="addTaskButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>

            </div>
            <form action="/create/task" method="POST">

                <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModal" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen-md-down">
                        <div class="modal-content">

                            <div class="modal-header px-4">
                                <div class="d-flex justify-content-center w-100">
                                    <h1 class="modal-title fs-2" id="createTaskModalLabel">Create a new task</h1>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            
                            <div class="modal-body px-4">
                                <div class="mb-4 mt-3">
                                    <label for="newTaskTitle" class="form-label fs-4">Task Title</label>
                                    <textarea class="form-control" id="newTaskTitle" name="newTaskTitle" rows="1"></textarea>
                                </div>
                                <div class="mb-4">
                                    <label for="newTaskDue" class="form-label fs-4">Due Date </label>
                                    <input class="form-control" type="date" id="newTaskDue" name="newTaskDue" value="" />
                                </div>
                                <div class="mb-4">
                                    <label for="newTaskProjects" class="form-label fs-4">Projects </label>
                                    <div class="dropend d-inline">
                                        <button class="btn dropdown-toggle pb-3 ms-1 fs-4" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-labelledby="selectProjectsDropdownMenu"></button>
                                        <ul class="project-selector dropdown-menu overflow-y-auto">
                                        <% projectList.forEach(project => { %>
                                        <% if(project.name === listView) { %>

                                            <li class="m-2">
                                                <input class="project form-check-input m-1 p-2" type="checkbox" id="newOpt<%= project.name %>" name="newTaskProjects" value="<%= project.name %>" onclick="toggleNewTaskBadge(this.value)" checked>
                                                <label class="form-check-label" for="opt<%= project.name %>New"><%= project.name %></label>
                                            </li>
                                        <% } else { %>
                                            <li class="m-2">
                                                <input class="project form-check-input m-1 p-2" type="checkbox" id="newOpt<%= project.name %>" name="newTaskProjects" value="<%= project.name %>" onclick="toggleNewTaskBadge(this.value)">
                                                <label class="form-check-label" for="newOpt<%= project.name %>"><%= project.name %></label>
                                            </li>

                                        <%} }); %>
                                        </ul>
                                    </div>
                                    <div class="selected d-flex gap-2 justify-content-start m-2 ms-1 mt-0 p-1" id="selectedProjects">
                                        <button class="project <%= listView %> selected me-1 py-2 btn bg-primary-subtle rounded-pill fs-6" id="newSel<%= listView %>" type="button" onclick="removeNewTaskBadge(this)"><%= listView %></button>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer px-4 d-flex justify-content-center">
                                <button type="submit" class="add-task btn btn-primary btn-lg">Add Task</button>
                            </div>
                    </div>
                </div>
            
            </div>
            </form>
        </div>
    </nav>
